<aside data-sidebar>
  <nav>
    <ul>
      <li><a href="/" {% if active == "home" %}aria-current="page"{% endif %}>Dashboard</a></li>
      {% for m in modules %}
        <li>
          <a href="{% if m.0 == 'users' %}/users{% elif m.0 == 'rooms' %}/rooms{% elif m.0 == 'appservice' %}/appservices{% elif m.0 == 'media' %}/media{% elif m.0 == 'tokens' %}/tokens{% else %}/m/{{ m.0 }}{% endif %}" {% if active == m.0 %}aria-current="page"{% endif %}>{{ m.1 }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <footer>
    <small>{{ user_id }}</small>
    <form method="post" action="/logout">
      <button class="outline" type="submit">Log out</button>
    </form>
  </footer>
</aside>
